<<<<<<< HEAD
.showEvents
  .showEvents_topImage
  
  .eventTopics
    .eventTopics_wrapper
      .eventTopics_inner
        .eventTopics_title
          %h3= @event.full_title
        .eventTopics_place
          %p= "in #{@event.venue.name}"
        .eventTopics_dateTag
          %p= @event.formatted_opening_date
        %hr
        .eventTopics_description
          %p= @event.description
        .eventTopics_apply
          = link_to "イベントに参加する", 'https://s-dev-talks.connpass.com/event/118037/', class: 'button_filled_with_shadow'
          %p ※connpassへ遷移します