.showEvents
  .showEvents_topImage

  .eventTopics
    .eventTopics_wrapper
      .eventTopics_inner
        .eventTopics_title
          %h3= @event.full_title
        .eventTopics_place
          %p= "at #{@venue.name}"
        .eventTopics_dateTag
          %p= @event.formatted_opening_date
        %hr
        .eventTopics_description
          %p= @event.description
        .eventTopics_apply
          - if @event.ended?
            .button_filled_with_shadow_unclickable
              イベントは終了しました
          - else
            = link_to "イベントに参加する", @event.connpass_url, class: 'button_filled_with_shadow', target:'_blank'
            %p ※connpassへ遷移します

  .eventContents_wrapper
    .showEvents_container
      %h2 Main Talks
      - if @event.talks.present?
        .before_maintalks_wrapper
          %ul
            - @event.talks.each do |talk|
              %li.mainSpeaker_contentWrapper
                .mainSpeaker_content
                  .mainSpeaker_title
                    %p= talk.title
                  .mainSpeaker_bio
                    %p
                      = talk.speaker_belongs
                      = talk.speaker_role
                  .mainSpeaker_nameContainer
                    .mainSpeaker_avator
                      =image_tag 'profile_icon_placeholder.png'
                    .mainSpeaker_name
                      %p
                        = talk.speaker_name
                        - if talk.speaker_sns_id.present? && talk.speaker_sns_url.present?
                          = link_to "(#{talk.speaker_sns_id})", talk.speaker_sns_url
                  %hr.mainSpeaker_hr
                  .mainSpeaker_desc
                    %p= simple_format(talk.description)
      - else
        - if @event.ended?
          .after_maintalks_wrapper
            -# 現状LT大会のみここに入る
            %p 間もなく資料公開予定
        - else
          - if @event.proposals.present?
            -# proposalがあったらここ
            .comingsoon_maintalks_wrapper
              %p Coming Soon...
          - else
            .comingsoon_maintalks_wrapper
              %p Coming Soon...

      .space_box

      %h2 Access
      .access_place
        %p= "場所： #{@venue.name}"
      .access_address
        = simple_format @venue.address
      .access_route
        %p
        = simple_format @venue.description
      .access_button
        =link_to 'Google Maps で開く', @venue.google_maps_url, class: 'button_googlemap', target:'_blank'
      .access_map
        %iframe{ src: @venue.google_maps_embed_url, width: "100%", height: "100%", frameborder: 0, style: "border:0", allowfullscreen: true }

      .eventTopics_apply
        - if @event.ended?
          .button_filled_with_shadow_unclickable
            イベントは終了しました
        - else
          = link_to "イベントに参加する", @event.connpass_url, class: 'button_filled_with_shadow', target:'_blank'
          %p ※connpassへ遷移します
